<!DOCTYPE html>
%html
  %head
    %meta(charset="utf-8")
    %meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")

    = stylesheet_link_tag 'boner.css'
    = javascript_include_tag 'jquery'
    = javascript_include_tag 'underscore'
    = javascript_include_tag 'backbone'
    = javascript_include_tag 'boner.js'

  %body
    = yield
